/* search部分 */
#searchbox {
    width : 100%;
    height: 1.07rem;
    padding: 0 0.12rem 0  0.36rem;
    background:#F6F6F6;
}
#mallserch{
    width: 100%;
    height: 100%;
    display: flex;
}
#data-search{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 0.59rem 0 0.656rem;
    line-height: 1.07rem;
    background: #FFFFFF;
    border-radius: 0.2rem;
    color: #777777;
}
#sech{
    font-size: 0.45rem;
}
#word{
    font-size: 0.35rem;
}
#shopcar{
    display: block;
    width : 0.96rem;
    height: 1.05rem;
}
#shopingcar{
    display: inline-block;
    font-size: 0.7rem;
    line-height: 1.07rem;
    color:  #0075C4;
}


/* banner部分 */

.banner_box{
    width :100%;
    height: 5rem;
}
.banner_box>.banner_wrapper>.banner_slide{
    width: 100%;
    height: 4rem;
    overflow: hidden;
}
.banner_box>.banner_wrapper>.banner_slide>img{
    width: 100%;
    height: 100%;
}
.banner_pagination{
    position: absolute;
    width: 100%;
    text-align: center;
}
.swiper-pagination-bullet{
        width: 20px;
        height: 20px;
         display: inline-block;
        border-radius: 50%;
        background: gray;
        opacity: 1;
    }
        .swiper-pagination-bullet-active{
        background-color: #fff;
    }
        #myVideo{
        position: absolute;  
         right: 0px;  
        bottom: 40px;  
         min-width: 100%;  
         min-height: 100%;
        background: black;
        z-index: 999;
    }


    /* mallNav */

#mallNav_box{
    width: 100%;
    height: 4.16rem;
    border-bottom: 1px solid #e5e4e4;
    box-shadow: 0 0.2em 0.2em rgba(51,51,51,0.01);
    background: white;
    position: relative;
    z-index: 2;
}
#kong{
    width: 100%;
    height: 0.3rem;
    background: #e5e4e4;
}
#mallNav_box>#mallNav_ul{
    font-size: 0.3rem;
    color: #777;
    overflow: hidden;
    width: 100%;
    height: 100%;;
    display: flex;
    flex-wrap : wrap;
}
#mallNav_box>#mallNav_ul>li{
    display: flex;
    align-items: center;
    width: 25%;
    height: 2.08rem;
    text-align: center;
    justify-content: center;
}
#mallNav_box>#mallNav_ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#mallNav_box>#mallNav_ul>li>a>img{
    display: flex;
    width: 0.96rem;
    height: 0.96rem;
    justify-content: center;

}

#mallNav_box>#mallNav_ul>li>a>p{
    width: 1.875rem;
    height: 0.56rem;
    line-height: 0.6rem;
}


/* mallShop */
#root,#root>div,#root>div>div{
    height: 100%;
}

.wrapper{
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

#mallShopBox{
    width: 100%;
    height: 6.89rem;
    position: relative
}
#mallShopBox>.shop1{
    width: 50%;
    height: 4.6rem;
    position: absolute;
    top: 0;
    left: 0;
}
#mallShopBox>.shop2{
    width: 50%;
    height: 2.3rem;
    position: absolute;
    top: 0;
    right: 0;
}
#mallShopBox>.shop3{
    width: 50%;
    height: 2.3rem;
    position: absolute;
    top: 2.3rem;
    right: 0;
}
#mallShopBox>.shop4{
    width: 100%;
    height: 2.28rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* MallAct */

#mallActBox{
    width: 100%;
    height: 1.18rem;
    padding-bottom: 10rem;
    position: relative;
}
#mallActBox>#mallActTop{
    width: 100%;
    height: 2.97rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#mallActBox>#mallActHeader{
    width: 100%;
    height: 2.97rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#mallActBox>#mallActHeader>.swiper-slide{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
}
#mallActBox>#mallActHeader>.swiper-slide>div{
    display: flex;
    justify-content: space-around;
}