/* search部分 */
#searchbox {
    width : 100%;
    height: 1.07rem;
    padding: 0 0.12rem 0  0.36rem;
    background:#F6F6F6;
}
#mallserch{
    width: 100%;
    height: 100%;
    display: flex;
}
#data-search{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 0.59rem 0 0.656rem;
    line-height: 1.07rem;
    background: #FFFFFF;
    border-radius: 0.2rem;
    color: #777777;
}
#sech{
    font-size: 0.45rem;
}
#word{
    font-size: 0.35rem;
}
#shopcar{
    display: block;
    width : 0.96rem;
    height: 1.05rem;
}
#shopingcar{
    display: inline-block;
    font-size: 0.7rem;
    line-height: 1.07rem;
    color:  #0075C4;
}


/* banner部分 */

.banner_box{
    width :100%;
    height: 5rem;
}
.banner_box>.banner_wrapper>.banner_slide{
    width: 100%;
    height: 4rem;
    overflow: hidden;
}
.banner_box>.banner_wrapper>.banner_slide>img{
    width: 100%;
    height: 100%;
}
.banner_pagination{
    position: absolute;
    width: 100%;
    text-align: center;
}
.swiper-pagination-bullet{
        width: 20px;
        height: 20px;
         display: inline-block;
        border-radius: 50%;
        background: gray;
        opacity: 1;
    }
        .swiper-pagination-bullet-active{
        background-color: #fff;
    }
        #myVideo{
        position: absolute;  
         right: 0px;  
        bottom: 40px;  
         min-width: 100%;  
         min-height: 100%;
        background: black;
        z-index: 999;
    }


    /* mallNav */

#mallNav_box{
    width: 100%;
    height: 4.16rem;
    border-bottom: 1px solid #e5e4e4;
    box-shadow: 0 0.2em 0.2em rgba(51,51,51,0.01);
    background: white;
    position: relative;
    z-index: 2;
}
#kong{
    width: 100%;
    height: 0.3rem;
    background: #e5e4e4;
}
#mallNav_box>#mallNav_ul{
    font-size: 0.3rem;
    color: #777;
    overflow: hidden;
    width: 100%;
    height: 100%;;
    display: flex;
    flex-wrap : wrap;
}
#mallNav_box>#mallNav_ul>li{
    display: flex;
    align-items: center;
    width: 25%;
    height: 2.08rem;
    text-align: center;
    justify-content: center;
}
#mallNav_box>#mallNav_ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#mallNav_box>#mallNav_ul>li>a>img{
    display: flex;
    width: 0.96rem;
    height: 0.96rem;
    justify-content: center;

}

#mallNav_box>#mallNav_ul>li>a>p{
    width: 1.875rem;
    height: 0.56rem;
    line-height: 0.6rem;
}


/* mallShop */
#root,#root>div,#root>div>div{
    height: 100%;
}

.wrapper{
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

#mallShopBox{
    width: 100%;
    height: 6.89rem;
    position: relative
}
#mallShopBox>.shop1{
    width: 50%;
    height: 4.6rem;
    position: absolute;
    top: 0;
    left: 0;
}
#mallShopBox>.shop2{
    width: 50%;
    height: 2.3rem;
    position: absolute;
    top: 0;
    right: 0;
}
#mallShopBox>.shop3{
    width: 50%;
    height: 2.3rem;
    position: absolute;
    top: 2.3rem;
    right: 0;
}
#mallShopBox>.shop4{
    width: 100%;
    height: 2.28rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* MallAct */

#mallActBox{
    width: 100%;
    height: 1.18rem;
    padding-bottom: 100rem;
    position: relative;
}
#mallActBox>#mallActTop{
    width: 100%;
    height: 2.97rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

#mallActBox>#mallActHeader{
    width: 100%;
    height: 2.97rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#mallActBox>#mallActHeader>.swiper-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    top:1.3rem;
    left: 0;
}
#mallActBox>#mallActHeader .swiper-slide{
    width: 1.582rem;
    height: 1.685rem;
    border-radius: 100%;
}
#mallActBox>#mallActHeader .swiper-slide>img{
    width: 100%;
    height: 100%;
}
#mallActBox>#mallGoodsList{
    width : 100%;
     position: relative;
    height: 8.77rem;
    top: 2.97rem;
    left: 0;
    overflow: hidden;
}
#mallActBox>#mallGoodsList>ul{
    width : 100%;
}
#mallActBox>#mallGoodsList>ul>li{
    width: 100%;
    display: none;

}
#mallActBox>#mallGoodsList>ul>li>#goodsListTop{
    width: 100%;
    height: 0.66rem;
    text-align: center;
}

#mallActBox>#mallGoodsList>ul>li>#goodsListTop>h4{
    width: 100%;
    height: 0.24rem;
    font-size: 0.24rem;
    font-weight: normal;
    text-align: center;
}
#mallActBox>#mallGoodsList>ul>li>#goodsListTop>h3{
    width: 100%;
    height: 0.42rem;
    font-size: 0.42rem;
    line-height: 0.42rem;
    font-weight: normal;
    text-align: center;
}

#mallActBox>#mallGoodsList #goodsListBody{
    width: 100%;
    height: 6.15rem;
    margin: 27.36px 7.68px 0 19.68px;
    overflow: hidden;
}
#mallActBox>#mallGoodsList #goodsListBody>div{
    width: 33.33333%;
    height: 3.072rem;
    float: left;
}
#mallActBox>#mallGoodsList #goodsListBody>div>#ppppp{
    width: 100%;
    height: 2.04rem;
}
#mallActBox>#mallGoodsList #goodsListBody>div>#ppppp>img{
    width : 100%;
    height: 100%;
}
#mallActBox>#mallGoodsList #goodsListBody>div h3{
    width: 100%;
    height: 0.28rem;
    font-size: 0.25rem;
    line-height: 0.28rem;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
}
#mallActBox>#mallGoodsList #goodsListBody>div #price{
    width: 100%;
    height: 0.34rem;
    text-align: center;
    color: #f15353;
    font-size: 0.28rem;
    line-height: 0.34rem;
    margin-top: 20px;
}
#mallActBox>#mallGoodsList #goodsListBody>div #price>strong{
    font-size: 0.3rem;
}

 #goodsListFooter{
    width: 100%;
    height: 1.5834rem;
    line-height: 1.5834rem;
    position: relative;
}
#mallActBox>#goodsListFooter>a{
    display: block;
    width: 2.852rem;
    height: 0.88rem;;
    font-size: 0.4rem;
    text-align: center;
    line-height: 0.88rem;
    color: #fff;
    border-radius: 30px;
    background: #f26262;
    position: absolute;
    bottom: -1rem;
    left: 2.7rem;
}